.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $onyx;
  height: 150px;
  border-bottom: 6px solid $steel-teal;

  h1 {
    color: $deep-sky-blue;
    font-family: $marker;
    text-shadow: 0px 5px 15px $eerie-black;
    font-size: 5rem;
  }
}
