@media screen and (max-width: 1050px) {

  .link-container {
    width: 32%;
    height: 100%;
    padding-bottom: 1vw;
  }

  .navbar h1 {
    font-size: 7vw;
  }
}


@media screen and (max-width: 625px) {

  .link-container {
    width: 47%;
    height: 100%;
    padding-bottom: 1vw;
  }

  .navbar h1 {
    font-size: 8vw;
  }
}
