.movie-info-container {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}

.movie-info {
  height: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
}

.movie-info-left {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.poster {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: $shadow-main;
  }

  p {
    margin-top: 2vw;
    font-size: 1.2rem;
    color: $white;
  }
}

.movie-info-right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $white;

  p {
    margin: 1vw;
  }

  button {
    width: 10vw;
    margin: 1vw;
  }
}

.movie-info-box {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $primary-body;
}

.title {
  margin-bottom: 3vw;
  font-size: 4vw;
  color: $white;
}

.overview {
  font-style: italic;
}
