.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $onyx;
  height: 180px;
  border-bottom: 6px solid $charleston-green;

  h1 {
    color: $deep-sky-blue;
    font-family: $marker;
    text-shadow: 0px 5px 20px $eerie-black;
    font-size: 5rem;
  }
}
